/*.d
/*.o
/*.crf
/*.map
/*.sct
/*.HaiDang1
/*.NGUYEN VINH HAO
/*.bak
/*.uvopt
/*.axf
/*.htm
/*.lnp
/*.dep
/*.ini
/*.log
/STM32F4xx_StdPeriph_Driver/*.html
/*.iex
/*.lst
/testimu.hex
/*._2i
/*.fed
/*.scvd
/*.l2p
